@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
  font-family: "TwitterChirp";
  src: url("fonts/TwitterChirp/ChirpRegular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "TwitterChirp", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --twitter-black-color: rgb(21, 32, 43);
  --twitter-blue-color: rgb(29, 155, 240);
  --font-default-color: rgb(231, 233, 234);
  background-color: black;
  color: var(--font-default-color);
}
